body {
    font-family: 'Russo One', sans-serif;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.pokeDiv {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 14%;
    margin: 7.2%;
    padding: 2%;
    align-items: center;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, .75);
    transition: transform 300ms;
    border-radius: 5%;
    font-weight: 100;
    letter-spacing: 1.75px;
}

.pokeDiv:hover {
    transform: scale(1.1);
    box-shadow: 4px 5px 12px 0px rgba(0, 0, 0, .75);

}


#pokeNumber {
    margin-left: -95%;
}

.pokemon-container {
    background: url("assets/pika.jpg") repeat fixed 100%;
    background-size: 100%;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FBCC3C;
    padding-top: 5%;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    width: 100%;
}
